@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color--primary: rgb(34, 197, 94)
}

body {
  /* background-color: #222; */
  color: #fff;
}

.container-main {
  margin: auto;
  max-width: 600px;
}

.error-message {
  color: crimson;
}

.btn {
  min-width: 80px;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  transition: 0.4s;
  background-color: rgb(29, 138, 29);
}

.btn:hover {
  color: var(--color--primary);
  background-color: white;
}